= div_for tweet, class: "list-group-item" do |t|
  %h4.user
    %span.user-name
      = link_to render_user_screen_name(t.user)
    %span.user-id
      @#{t.user.name}
    %span.time.pull-right
      = distance_of_time_in_words_to_now(t.created_at)
    .clear
  .tweet-content
    %p
      = t.content
    .content-footer
      = link_to_favorite_or_unfavorite t if logged_in?
      = link_to_follow_or_unfollow t.user if logged_in?
