= div_for tweet, class: "list-group-item" do |t|
  %h4
    = link_to t.user.name, user_path(t.user)
  %p
    = t.content
    = link_to_favorite_or_unfavorite t
    = link_to_follow_or_unfollow t.user
