#tweets-content
  .container
    .row
      .col-xs-4.left-content
        .panel.panel-default
          .panel-body
            = link_to user_path(current_user), class: "user" do
              %span.user-name
                = render_user_screen_name current_user
              %span.user-id
                @#{current_user.name}
            .user-activity
              .row
                .col-xs-4.tweets-num
                  .text
                    つぶやき
                  .num
                    = link_to current_user.tweets.count, user_path(current_user)
                .col-xs-4.follow-num
                  .text
                    フォロー
                  .num
                    = link_to current_user.follows.count, follows_user_path(current_user)
                .col-xs-4.follower-num
                  .text
                    フォロワー
                  .num
                    = link_to current_user.inverse_follows.count, followers_user_path(current_user)
            = form_for @tweet do |f|
              .form-group
                = f.text_area :content, class: "form-control"
              = f.submit "つぶやく", class: "btn btn-success"
      .col-xs-8.right-content
        .list-group
          .list-group-item
            .btn-group
              = link_to "すべてのつぶやき", tweets_path, class: "btn btn-default"
              = link_to "フォローしている人のつぶやき", timeline_tweets_path, class: "active btn btn-primary"
          = render @tweets
