.col-xs-3
  .panel.panel-default
    .panel-heading
      Post new tweet
    .panel-body
      = form_for @tweet do |f|
        .form-group
          = f.text_area :content, class: "form-control"
        = f.submit class: "btn btn-default"
.col-xs-9
  - if notice
    .alert.alert-info= notice

  .list-group
    = div_for @tweets, class: "list-group-item" do |tweet|
      %h4
        = tweet.user.name
      %p
        = tweet.content
        - if tweet.favorited_by? current_user
          = link_to "お気に入りを解除", tweet_favorites_path(tweet), method: :delete
        - else
          = link_to "お気に入りに追加", tweet_favorites_path(tweet), method: :post

        - if tweet.user.followed_by? current_user
          = link_to "フォロー解除", user_follows_path(tweet.user), method: :delete
        - else
          = link_to "フォローする", user_follows_path(tweet.user), method: :post
