.container
  .row
    .col-xs-3
      - if logged_in?
        .panel.panel-default
          .panel-heading
            = link_to user_path(current_user) do
              = current_user.name
              = render_user_screen_name current_user
          .panel-body
            つぶやき #{current_user.tweets.count}
            フォロー #{current_user.follows.count}
            フォロワー #{current_user.inverse_follows.count}
            = form_for @tweet do |f|
              .form-group
                = f.text_area :content, class: "form-control"
              = f.submit class: "btn btn-default"
      - else
        .panel.panel-default
          .panel-heading
            Post new tweet
          .panel-body
    .col-xs-9
      = link_to "すべてのツイート", tweets_path
      = link_to "フォローしている人のツイート", timeline_tweets_path
      .list-group
        = render @tweets
