.panel.panel-default
  .panel-heading
    = render_user_screen_name current_user
  .panel-body
    .btn-group
      = link_to user_path(current_user) do
        #{user.tweets.count} tweets,
      = link_to user_follows_path(current_user) do
        #{user.favorites.count} favs,
      = link_to user_followers_path(current_user) do
        #{user.followers.count} followers
