.col-xs-3
  = render partial: "user_panel", locals: { user: @user }
.col-xs-9
  %ul.nav.nav-tabs.nav-justified
    %li
      = link_to "tweets", user_path(@user)
    %li
      = link_to "favorites", user_favorites_path(@user)
    %li.active
      = link_to "followers", followers_user_path(@user)
    %li
      = link_to "follows", follows_user_path(@user)

  .spacing

  .list-group
    = render @user.followers
