.col-xs-8#users-content
  = render partial: "user_bio", locals: { user: @user }
  %ul.nav.nav-tabs.nav-justified
    %li
      = link_to user_path(@user) do
        .text
          つぶやき
        .num
          #{@user.tweets.count}
    %li
      = link_to follows_user_path(@user) do
        .text
          フォロー
        .num
          #{@user.follows.count}
    %li.active
      = link_to followers_user_path(@user) do
        .text
          フォロワー
        .num
          #{@user.followers.count}
    %li
      = link_to user_favorites_path(@user) do
        .text
          お気に入り
        .num
          #{@user.favorites.count}
  .list-group
    - if @user.followers.any?
      = render @user.followers
    - else
      ありません
