.col-xs-3
  .panel.panel-default
    .panel-heading
      = current_user.name
    .panel-body
      .btn-group
        #{current_user.tweets.count} tweets,
        #{current_user.favorites.count} favs,
        #{current_user.followers.count} followers
.col-xs-9
  .list-group
    = div_for @users, class: "list-group-item" do |user|
      %h4
        = link_to user.name, user_path(user)
      %p
        = link_to_follow_or_unfollow user
