.col-xs-3
  = render partial: "user_panel", locals: { user: @user }
.col-xs-9
  %ul.nav.nav-tabs.nav-justified
    %li.active
      = link_to "tweets", user_path(@user)
    %li
      = link_to "favorites", user_favorites_path(@user)
    %li
      = link_to "followers", followers_user_path(@user)
    %li
      = link_to "follows", follows_user_path(@user)


  .spacing

  .list-group
    = div_for tweet, class: "list-group-item" do |t|
      %h4
        = link_to t.user.name, user_path(t.user)
      %p
        = t.content
        = distance_of_time_in_words_to_now(t.created_at)
        = link_to_favorite_or_unfavorite t if logged_in?
        = link_to_follow_or_unfollow t.user if logged_in?
