.col-xs-8#users-content
  = render partial: "users/user_bio", locals: { user: @user }
  %ul.nav.nav-tabs.nav-justified
    %li
      = link_to user_path(@user) do
        .text
          つぶやき
        .num
          #{@user.tweets.count}
    %li
      = link_to follows_user_path(@user) do
        .text
          フォロー
        .num
          #{@user.follows.count}
    %li
      = link_to followers_user_path(@user) do
        .text
          フォロワー
        .num
          #{@user.followers.count}
    %li.active
      = link_to user_favorites_path(@user) do
        .text
          お気に入り
        .num
          #{@user.favorites.count}
  .list-group
    - if @user.favorites.any?
      - @user.favorites.each do |favorite|
        = render favorite.tweet
    - else
      ありません
